/*Using color-palette: http://www.color-hex.com/color-palette/21658 */

/*Changed background color*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #bed3c7;
    font-family: 'ABeeZee', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Changed navbar color*/
.navbar{
    background-color: #0f2c1b;
}

/*Style Jumbotron*/
.jumbotron h1{
    font-family: 'Homemade Apple', cursive;
}

/*Attempt to make image border*/
/*img{
    border-color: #276f45;
}*/

/*Set max-height for rows and carousel*/
/*Use inside Index views: style="width:350px;height:350px;"*/
/*.thumbnail #myCarousel{
    max-height: 350px;
}*/

/*Set media-object margins to zero*/
/*.media-object{
    margin:0px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
